button{
    width: 80px;
    padding: 10px;
    background-color: tomato;
    color:white;
    border: 1px solid #f1f1f1;
}

button:hover{
    background-color: white;
    color:tomato
}

#display{
    width: 292px;
    padding: 20px;
    margin: 0px 0px 5px 0px;
    background-color: black;
    color: white;
    height: 20vh;
    font-size: 50px
}
.container{
    padding:20px;
    background-color: teal;
    width: fit-content;
}

.ticTacToe{
    margin-top: 50px;
    padding: 30px;
    background-color: firebrick;
    width: fit-content;
}